@use "theme";

*{
  box-sizing: border-box;
}

main.home_container {
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;

  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;


  .info {
    width: 100%;
    height: 50%;
    background-color: theme.$background_color;
    overflow-y: scroll;

    @include theme.align_center;

    * {
      //width: 100%;
      height: -webkit-fill-available;
      object-fit: contain;

      img {
        width: 100%;
        height: 100%;
        //aspect-ratio: 1;
      }
    }

  }

  .nav {
    width: 100%;
    height: 50%;
    background-color: aqua;
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;

    .user_info{
      height:70%;
      background: url("/images/Patterns/1.jpg") no-repeat;
      background-size: cover;
      @include theme.align_center;
      @include theme.box_shadow_left;
      color: #fff;

      display: flex;
      flex-direction: row;
      gap: 10px;

      img{
        width: 70px;
        height: 60%;
      }

      .name {
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.63);
        @include theme.box_shadow;
        h1 {
          text-transform: uppercase;
          padding: 0;
          margin: 0;
          font-family: theme.$fontfaily_raleway;
          font-size: 3rem;
          font-weight: 500;
        }
      }
    }

    .nav_links_container{
      display: flex;
      display: -ms-flex;
      display: -webkit-flex;
      flex-direction: row;
      -ms-flex-direction: row;
      -webkit-flex-direction: row;
      flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      height: 100%;
      background-color: darkred;

      padding: 0;
      margin: 0;

      a {
        @include theme.align_center;

        list-style-type: none;
        width:50%;
        height:50%;
        border: 1px solid black;

        &:nth-child(1) {
          background: red;
        }
        &:nth-child(2) {
          background: green;
        }
        &:nth-child(3) {
          background: yellow;
        }
        &:nth-child(4) {
          background: cadetblue;
        }
      }
    }
  }
}

/* Tablet View */
@media (min-width: 700px){
  main.home_container {
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    //float: left;
    top: 0;
    //flex-direction: row;
    //-ms-flex-direction: row;
    //-webkit-flex-direction: row;

    .info {
      position: absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      height: 100%;

      .Hamburger {
        position: absolute;
        height: 30px;
        top: 10px;
        right: 10px;
      }
    }

    .nav {
      display: none;
      position: absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      height: 100%;

      .user_info {
        .name {
          h1 {
            font-size: 4rem;
          }
        }

        img {
          width: 100px;
        }
      }
    }
  }
}

/* Desktop view */
@media (min-width: 1200px) {
  main.home_container {
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;

    .info {
      position: inherit;
      height: 100%;
    }

    .nav {
      position: inherit;
      height: 100%;

      .user_info {
        .name {
          h1 {
            font-size: 4rem;
          }
        }

        img {
          width: 100px;
        }
      }
    }
  }
}
